.contenedor--cajas {
    width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

.caja {
    max-width: 400px;
    border-radius: 10px;
    margin-bottom: 50px;
    @include caja;
    img {
        border-radius: 10px 10px 0 0;
    }
    &__contenido {
        border-radius: 10px;
        padding: 20px;
        background-color: $color-claro;
    }
    &__categoria {
        color: $color-secundario;
        @include titulos($fuente2);
    }
}

.contenedor--cajas .caja img {
	max-width: 400px;
}

.contenedor--cajas .caja a {
	text-decoration: none;	
	color: $color-variacion;
	@include titulos($fuente2);
}

.contenido {
	justify-content: space-evenly;
	display: flex;
	width: 90%;
	margin: 0 auto;
	padding: 30px 0;
} 

.caja--con-fondo {
	display: block;
	box-shadow: none;
	position: relative;
	overflow: hidden;
	background-color: $color-primario;
	img {
		display: block;
        max-width: 100%;
		max-height: fit-content;
		position: absolute;
		opacity: 0.5;
		object-fit: contain;
	}
	&__contenido {
		padding: 20px;
		position: absolute;
		text-align: center;
		color: $color-claro;
		p {
			color: $color-claro;
		}
		h3 {
			color: $color-claro;
		}
	}
	&__categoria {
		display: block;
		width: auto;
		max-width: 100px;
		margin: 0 auto;
		text-align: center;
		background-color: $color-secundario;
		color: $color-claro;
		@include titulos($fuente2);
	}
}

.caja--grande {
	max-width: 1000px;
	height: 550px;
	margin-right: 20px;
    @include caja();
    border-radius: 15px;
	h2 {
		@include titulos($fuente2);
		@include font-size(50px);
	}
	.caja--con-fondo__contenido {
		padding-top: 200px;
	}
}

.caja--mediana {
	max-width: 625px;
	height: 250px;
    border-radius: 15px;
}

.caja--pequena {
	max-width: 300px;
	height: 250px;
    border-radius: 15px;
}