.intro {
    width: 100%;
    height: 650px;
    padding: 0;
    margin: 0 auto;
    position: relative;
    background-color: $color-claro;
    @include caja;
    box-shadow: none;
    &__imagen {
        width: 100%;
        position: absolute;
        img {
            width: 100%;
            height: 624px;
            object-fit: cover;
        }
    }
    &__contenido {
        width: 50%;
        margin: 0 auto;
        position: absolute;
        top: 156px;
        left: 0;
        right: 0;
        text-align: center;
        color: $color-claro;
    }
    &__categoria {
        color: get-opacity($color-claro, .50);
		@include titulos($fuente2);
    }
    &__titulo {
        @include font-size(50px);
    }
    &__autor {
        width: 150px;
        margin: 0 auto;
        position: absolute;
        top: 400px;
        left: 0;
        right: 0;
        color: $color-claro;
        img {
            width: 60px;
            height: 50px;
            float: left;
            padding-right: 10px;
            border-radius: 10em;
        }
        span {
            display: inline-block;
        }
        &-titulo {
            @include titulos($fuente2);
			color: get-opacity($color-claro, .50);
        }
    }
}